.App{
    background-color: #545E60;
    height: 800px;
}

.User-form{
    width: 450px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#BDBEC4 ;
    
}

input{
    width: 300px;
    height: 20px;
    margin: 10px;
    border-radius: 5px;
    
}

h1{
    display: flex;
}

h3{
line-height:10px; 
 
}
h6{
    line-height:2px;
}

Form{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.age-approval-box{
    width: 95%;
    display: flex;
}
.gender{
    width: 95%;
    margin: 5px;
}
.position{
    width: 95%;
    margin: 5px;
}

.textbox{
    width:95%;
    height: 80%;
    border-radius: 5px;
    margin: 5px;
}
button{
    width: 95%;
    height: 25px;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 5px;
}
 button:hover{
     background-color: #C1BEC0;
     color: #3166C1;
 }
.check-box{
    display: flex;
    width: 300px;

}
.check{
   width: 20px;
   margin-top: 18px;
}

